body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: rgb(39, 39, 39);
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
}

.calculator{
    display: flex;
    flex-direction: column;
    gap: 0px;
    border: solid 1px grey;
    border-radius: 10px;
}

.display{
    /* border: solid 1px rgb(200,200,200); */
    border-radius: 5px;
    padding: 10px;
    min-height: 20px;
}

.operators{
    display: flex;
    justify-content: space-between;
}

.operators button{
    width: 20%;
    background-color: rgb(255, 166, 0);
}

.clearButton{
    width: 100%;
}

.numbers{
    display: flex;
    flex-wrap: wrap;
}
.numbers button{
    flex: 1 0 30%;
}

button{
    padding: 10px;
    border: solid 0.5px grey;
    background-color: darkgrey;
    color: white;
    font-size: 1.2em;
    font-weight: 100;
}

button:hover{
    background-color: grey;
}

.clearButton{
    background-color: rgb(251, 86, 86);
}

.operators .equals{
    background-color: rgb(52, 253, 85);
}

.num0{
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
}
